.file-upload-container {
    position: relative;
    display: inline-block;
  }
  
  .upload-icon-container {
    position: relative;
    cursor: pointer;
  }
  
  .upload-icon {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .upload-icon-label {
    display: inline-block;
    position: relative;
  }
  
  .file-list {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 200px;
    max-height: 150px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .upload-icon-label:hover .file-list {
    opacity: 1;
    pointer-events: auto;
  }
  
  .file-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .file-list li {
    padding: 5px 0;
    border-bottom: 1px solid #f1f1f1;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .file-list li:last-child {
    border-bottom: none;
  }
  
  .file-name {
    max-width: 100px; /* Set max-width to keep the filenames aligned */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .file-name:hover {
    max-width: none;
    white-space: normal;
  }
  
  .file-action-icon {
    margin-left: 10px;
    cursor: pointer;
    color: #555;
  }
  
  .file-action-icon:hover {
    color: #000;
  }
  
  .add-file-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    margin-top: 10px;
  }
  
  .add-file-icon:hover {
    color: #000;
  }
  